.card {
	margin: 15px;
}

.card-header {
	padding: 25px;
}

#article-title {
	float: left;
}

.article-save-btn {
	float: right;
}

.article-delete-btn {
	float: right;
}

.article-notes-btn {
	float: right;
	margin-left: 5px;
}

#note-text {
	width: 470px;
	height: 250px;
	resize: none;
	overflow: auto;
}

.gizmodo-bg {
	background-size: cover;
	background-image: url(../images/background-img.jpg);
	background-repeat: no-repeat;
}

.jumbotron {
	color: white;
	font-weight: bold;
}

.headlines-text {
	font-family: 'Rock Salt', cursive;
}

.note-delete-btn {
	float: right;
}