#logo {
	width: auto;
	height: 20px;
}

#logo-overlay {
	font-family: 'Rock Salt', cursive;
	font-size: 100%;
	font-weight: bold;
	color: red;
	position: absolute;
	left: 60px;
	top: 5px;
	text-shadow: 2px 2px 5px black;
}