<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/gizmodo-logo.png" id="logo" class="d-inline-block align-top" alt="">
    <span id="logo-overlay">Headlines</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {{#if home-active}} active {{/if}}" href="/">Home {{#if home-active}} <span class="sr-only">(current)</span> {{/if}}</a>
      <a class="nav-item nav-link {{#if saved-active}} active {{/if}}" href="/saved">Saved Articles {{#if saved-active}} <span class="sr-only">(current)</span> {{/if}}</a>
      {{#if home-active}}
        <button type="button" id="scrape-btn" class="btn btn-danger">Scrape New Articles!</button>
      {{/if}}
    </div>
  </div>
</nav>